@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;

}

.app{
    width: 100%;
}

:root{
    --font-light-color:#ffffff;
    --main-color:#6B3CC9;
    --font-text-color:#000000;

}


.btn{
    background-color: #F28D35;
    padding: 12px 20px 12px 20px;
    color: var(--font-light-color);
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
